body {
  font-family: "Ubuntu Light", helvetica, sans-serif;
  max-width: 35em;
  margin: 0 2em;
}

label, input {
    display: block;
}

input {
    margin-bottom: 1em;
}

code {
    font-family: "Ubuntu Mono" monospace;
    white-space: pre-wrap;
}
